.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #fff;
  &-logo {
    height: 56px;
    padding: 16px 16px;
    > img {
      width: 40%
    }
  }
}
